In [57]:
# 문자의 경우 str 접근자를 사용하여 replace(), split()  - 숫자는 상관없음
import pandas as pd
a = {'A' : ['데이터 분석', '기본 학습서', '퇴근 후 열공'],
     'B' : [10, 20, 30],
     'C' : ['ab cd', 'AB CD', 'ab cd']}
df = pd.DataFrame(a)
df

df['B'] = df['B'].replace(20, 100)  # 숫자는 그냥 쓰면되고,
df

df['A'] = df['A'].str.replace("분석", "시각화")   # 문자는 str을 사용
df

         A    B      C
0  데이터 시각화   10  ab cd
1   기본 학습서  100  AB CD
2  퇴근 후 열공   30  ab cd

In [61]:
df['A'].str.split()[0]

['데이터', '시각화']

In [71]:
# 특정 문자열 검색 -  str.contains()
df['학습서포함여부'] = df['A'].str.contains('학습서')
df

# 문자의 길이   str.len()
df['문자의길이'] = df['A'].str.len()
df

# 소문자 변경  -  str.lower(),  대문자 변경  - str.upper() 
df['C'] = df['C'].str.lower()   # C컬럼을 소문자로 변경하고 공백을 없애라
df
df['C'] = df['C'].str.replace(" ", "")   
df

         A    B     C  학습서포함여부  문자의길이
0  데이터 시각화   10  abcd    False      7
1   기본 학습서  100  abcd     True      6
2  퇴근 후 열공   30  abcd    False      7

In [87]:
# 판다스 내장함수
df = pd.read_csv("./data/cafe2.csv")
df

print('최대값: ', df['가격'].max())    # 표준편차 std(),  분산 var()
print('최대값위치: ', df['가격'].idxmax())  # 최대값의 인덱스 idxmax()
 

# 사분위수   quantile(.25)
print('1사분위수: ', df['가격'].quantile(.25))   # 75%일 경우  .75

# 1사분위수보다 작은 가격 데이터 출력
a = df['가격'].quantile(.25) > df['가격'] 
print(df[a])

최대값:  5900
최대값위치:  5
1사분위수:  4750.0
      메뉴    가격   칼로리  할인가격  할인가격.3  할인가격.1  할인가격.2  할인가격.4  할인가격.5
0  아메리카노  4500  10.0  3600    3600    3600    3600    3600    3600
4  에스프레소  4000  20.0  3200    3200    3200    3200    3200    3200

In [143]:
# 그룹핑   groupby()
df = pd.read_csv("./data/cafe2.csv")
df

df['원산지'] =['베트남', '과테말라', '베네수엘라', '베트남', '베트남', '과테말라', '과테말라']
df
df.loc[6, '칼로리'] = 210.0
df
# df.groupby(['원산지']).mean(numeric_only=True)   # 원산지로 그룹화하여 숫자만 평균낼것

# # 원산지와 칼로리로 그룹화
# df.groupby(['원산지', '칼로리']).mean(numeric_only=True)

# 집계연산(여러개 연산)   agg()
df.groupby(['원산지', '메뉴']).agg(['mean', 'sum'])
df.drop('할인가격.3', axis=1)
df
df.drop('할인가격.1', axis=1)
df
df.drop('할인가격.1', axis=1)
df
# cafe3으로 저장
df.to_csv("./data/cafe3.csv", index=False)

In [87]:
# 시간, 날짜 자료형 - 시계열 데이터
# 문자열(24-11-15)    object -> datetime     to_datetime()

import pandas as pd
date  = {'Date1' : ['2024-11-10', '2024-11-11', '2024-11-12', '2024-11-13'],
         'Date2' : ['2024/11/10', '2024/11/11', '2024/11/12', '2024/11/13'],
         'DateTime1' : ['2024-11-10 10:10:10', '2024-11-10 10:20:20', '2024-11-10 11:30:30', '2024-11-10 11:40:40'],
         'DateTime2' : ['2024-11-10 10-10-10', '2024-11-11 10-20-20', '2024-11-12 11-30-30', '2024-11-13 11-40-40']}
df = pd.DataFrame(date)
df

# df['Date1'] = pd.to_datetime(df['Date1'])  # 날짜형식으로 변경
# df['Date2'] = pd.to_datetime(df['Date2'])
# df['DateTime1'] = pd.to_datetime(df['DateTime1'])
# df['DateTime2'] = pd.to_datetime(df['DateTime2'], format="%Y-%m-%d' %H-%M-%S")
# df.info()

# # year, month, day 파생칼럼 - 함수가 아닌 속성이므로 ()를 넣으면 안됨
# df['year'] = df['DateTime1'].dt.year
# df['month'] = df['DateTime1'].dt.month
# df['day'] = df['DateTime1'].dt.day
# df
df.to_csv("./data/date_data.csv", index = False)

date_time = pd.read_csv("./data/date_data.csv")
date_time

# 10일후
# day = pd.Timedelta(days=9)
# date_time['10day'] = date_time['DateTime1'] + day

        Date1       Date2            DateTime1            DateTime2
0  2024-11-10  2024/11/10  2024-11-10 10:10:10  2024-11-10 10-10-10
1  2024-11-11  2024/11/11  2024-11-10 10:20:20  2024-11-11 10-20-20
2  2024-11-12  2024/11/12  2024-11-10 11:30:30  2024-11-12 11-30-30
3  2024-11-13  2024/11/13  2024-11-10 11:40:40  2024-11-13 11-40-40

In [97]:
# dt.to_period()
df = pd.read_csv("./data/date_data.csv")
df

# 자료형 변환
# df['DateTime2'] = pd.to_datetime(df['DateTime2'])
print

        Date1       Date2            DateTime1            DateTime2
0  2024-11-10  2024/11/10  2024-11-10 10:10:10  2024-11-10 10-10-10
1  2024-11-11  2024/11/11  2024-11-10 10:20:20  2024-11-11 10-20-20
2  2024-11-12  2024/11/12  2024-11-10 11:30:30  2024-11-12 11-30-30
3  2024-11-13  2024/11/13  2024-11-10 11:40:40  2024-11-13 11-40-40

In [115]:
# 연습문제 1 _p172
import pandas as pd
df = pd.read_csv("./data/type1_data1.csv")
# 자료형변환
df['subscribed'] = pd.to_datetime(df['subscribed'])
# 월별 칼럼 생성
df['month'] = df['subscribed'].dt.month
# 월별 데이터 합계
df = df.groupby('month').sum(numeric_only=True)
df
# # 'views' 오름차순 정렬
df = df.sort_values('views')
print(df.index[0])

11

In [157]:
# 연습문제 2 _p173
import pandas as pd
df = pd.read_csv('./data/delivery_time.csv')
df
# datetime으로 자료형 변환
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])


# 지연시간 계산   분단위환산 : 초의 총합/60
df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()/60
df

# 조건1 :  예상도착시간보다 늦게도착
cond1 = df['지연시간'] > 0
len(df[cond1])

# 조건2 :  예상도착시간보다 늦게도착
cond2 = df['거리'] > 7
len(df[cond2])

print(len(df[cond1 & cond2]))

311

In [181]:
# 데이터 프레임 합치기
import pandas as pd
price = pd.DataFrame({'Menu' : ['Salad', 'Soup', 'Bread'],
                      'Price' : [5000, 3000, 2000]})
print(appetizer)

cal = pd.DataFrame({'Menu' : ['Soup', 'Bread', 'Salad'],
                     'Calory' : [15000, 12000, 10000] })

# concat(프레임1, 프레임2)
full_menu = pd.concat([appetizer, main], axis=1)
print(full_menu)

menu_info = pd.merge(appetizer, main, on='Menu')
menu_info

    Menu  Price
0  Salad   5000
1   Soup   3000
2  Bread   2000
      Menu  Price
0    Steak  15000
1    Pasta  12000
2  Chicken  10000
    Menu  Price     Menu  Price
0  Salad   5000    Steak  15000
1   Soup   3000    Pasta  12000
2  Bread   2000  Chicken  10000

Empty DataFrame
Columns: [Menu, Price_x, Price_y]
Index: []