In [57]:
# 문자의 경우 str 접근자를 사용하여 replace(), split()  - 숫자는 상관없음
import pandas as pd
a = {'A' : ['데이터 분석', '기본 학습서', '퇴근 후 열공'],
     'B' : [10, 20, 30],
     'C' : ['ab cd', 'AB CD', 'ab cd']}
df = pd.DataFrame(a)
df

df['B'] = df['B'].replace(20, 100)  # 숫자는 그냥 쓰면되고,
df

df['A'] = df['A'].str.replace("분석", "시각화")   # 문자는 str을 사용
df

         A    B      C
0  데이터 시각화   10  ab cd
1   기본 학습서  100  AB CD
2  퇴근 후 열공   30  ab cd

In [61]:
df['A'].str.split()[0]

['데이터', '시각화']

In [71]:
# 특정 문자열 검색 -  str.contains()
df['학습서포함여부'] = df['A'].str.contains('학습서')
df

# 문자의 길이   str.len()
df['문자의길이'] = df['A'].str.len()
df

# 소문자 변경  -  str.lower(),  대문자 변경  - str.upper() 
df['C'] = df['C'].str.lower()   # C컬럼을 소문자로 변경하고 공백을 없애라
df
df['C'] = df['C'].str.replace(" ", "")   
df

         A    B     C  학습서포함여부  문자의길이
0  데이터 시각화   10  abcd    False      7
1   기본 학습서  100  abcd     True      6
2  퇴근 후 열공   30  abcd    False      7

In [87]:
# 판다스 내장함수
df = pd.read_csv("./data/cafe2.csv")
df

print('최대값: ', df['가격'].max())    # 표준편차 std(),  분산 var()
print('최대값위치: ', df['가격'].idxmax())  # 최대값의 인덱스 idxmax()
 

# 사분위수   quantile(.25)
print('1사분위수: ', df['가격'].quantile(.25))   # 75%일 경우  .75

# 1사분위수보다 작은 가격 데이터 출력
a = df['가격'].quantile(.25) > df['가격'] 
print(df[a])

최대값:  5900
최대값위치:  5
1사분위수:  4750.0
      메뉴    가격   칼로리  할인가격  할인가격.3  할인가격.1  할인가격.2  할인가격.4  할인가격.5
0  아메리카노  4500  10.0  3600    3600    3600    3600    3600    3600
4  에스프레소  4000  20.0  3200    3200    3200    3200    3200    3200

In [137]:
# 그룹핑   groupby()
df = pd.read_csv("./data/cafe2.csv")
df

df['원산지'] =['베트남', '과테말라', '베네수엘라', '베트남', '베트남', '과테말라', '과테말라']
df
df.loc[6, '칼로리'] = 210.0
df
# df.groupby(['원산지']).mean(numeric_only=True)   # 원산지로 그룹화하여 숫자만 평균낼것

# # 원산지와 칼로리로 그룹화
# df.groupby(['원산지', '칼로리']).mean(numeric_only=True)

# 집계연산(여러개 연산)   agg()
df.groupby(['원산지', '메뉴']).agg(['mean', 'sum'])
df.drop('할인가격.3', axis=1, inplace=True)


# cafe3으로 저장
# df.to_csv("./data/cafe3.csv", index=False)